<div class="jumbotron">
    <form class="form-horizontal">
        <fieldset>
            <legend>Add Issue Page</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Title: </label>
                <div class="col-lg-10">
                    <input class="form-control" required="required" ng-model="addIssueModel.Title" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description: </label>
                <div class="col-lg-10">
                    <textarea class="form-control" type="text" required="required" ng-model="addIssueModel.Description" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Project: </label>
                <div class="col-lg-10">
                    <select class="form-control" required="required" ng-model="addIssueModel.ProjectId" ng-change="setPriorities(addIssueModel.ProjectId)">
                        <option value="{{previousProject.Id}}">For the same project: {{previousProject.Name}}</option>
                        <option ng-repeat="project in projects"  value="{{project.Id}}">{{project.Name}}</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">AssigneeId: </label>
                <div class="col-lg-10">
                    <select class="form-control" required="required" ng-model="addIssueModel.AssigneeId">
                        <option ng-repeat="selectUser in users"  value="{{selectUser.Id}}">{{selectUser.Username}}</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">PriorityId: </label>
                <div class="col-lg-10">
                    <select class="form-control" required="required" ng-model="addIssueModel.PriorityId">
                        <option ng-repeat="priority in priorities" value="{{priority.Id}}"> {{priority.Name}}</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">DueDate: </label>
                <div class="col-lg-10">
                    <input class="form-control" type="datetime-local" required="required" ng-model="addIssueModel.DueDate">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#/projects/{{previousProject.Id}}"><button type="reset" class="btn btn-default">Go Back To Project</button></a>
                    <button type="submit" class="btn btn-primary" ng-click="addIssue(addIssueModel)">Add Issue</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>