<div class="jumbotron">
    <form class="form-horizontal">
        <fieldset>
            <legend>Edit Issue Page <span style="color: red"><h1>Not Complete</h1></span></legend>
            <div class="form-group">
                <label class="col-lg-2 control-label"><h2>{{issue.IssueKey}}</h2></label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Title: </label>
                <div class="col-lg-10">
                        <input class="form-control" required="required" ng-model="editIssue.Title" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Description: </label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required="required" ng-model="editIssue.Description" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">AssigneeId: </label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required="required" ng-model="editIssue.Username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">PriorityId: </label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" ng-model="editIssue.PriorityId" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">DueDate: </label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" required="required" ng-model="editIssue.DueDate" value="{{issue.DueDate}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Author: </label>
                <div class="col-lg-10">
                    <p>{{issue.Author.Username}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Project: </label>
                <div class="col-lg-10">
                    <p ng-model="editIssue.ProjectId">{{issue.Project.Name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Status: </label>
                <div class="col-lg-10">
                    <p>{{issue.Status.Name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Labels: </label>
                <div class="col-lg-10">
                    <span ng-repeat="label in issue.Labels">{{label.Name}} | </span>
                </div>
            </div>

            <div class="form-group" ng-if="issue.Assignee.Id === currentUser.Id">
                <label for="select" class="col-lg-2 control-label">Available Statuses:</label>
                <div class="col-lg-4">
                    <select class="form-control" id="select" ng-model="statusId">
                        <option ng-repeat="status in issue.AvailableStatuses" value="{{status.Id}}">-----{{status.Name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning" ng-click="changeStatus(statusId)">Change</button>
                <br>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>